:root {
    --base-color-light: #F5F5F5;
    --header-text-light: #00c362;
    --sub-text-light: #000000;

    --base-color-dark: #000000;
    --header-text-dark: #00c362;
    --sub-text-dark: #F5F5F5;
}

body {
    background-color: var(--base-color-light);
}

.container {
    text-align: center;
}

h1, h3 {
    text-align: center;
    font-family: Helvetica;
    color: var(--header-text-light);
}

h3 {
    color: var(--sub-text-light);
}

/* Dark mode styles */
.darkmode {
    background-color: var(--base-color-dark);
}

.darkmode h1, .darkmode h3 {
    color: var(--header-text-dark);
}

.darkmode h3 {
    color: var(--sub-text-dark);
}

#mode-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-text-light);
    transition: background-color 0.3s ease;
}

#mode-switch:hover {
    background-color: #009e4f;
    cursor: pointer;
}

#mode-switch svg {
    fill: whitesmoke; 
}

#mode-switch svg:last-child {
    display: none;
}

.darkmode #mode-switch {
    background-color: var(--header-text-dark);
}

.darkmode #mode-switch svg:first-child {
    display: none;
}

.darkmode #mode-switch svg:last-child {
    display: block;
}

